.score {
    color: white;
}

#restart {
    color: white;
    cursor: pointer;
}

.Whack {
    margin-left: 2rem;
    width: 100%;
    height: 600px;

    position: relative;

    &__mole{
        width: 100%;
        position: relative;
        height: auto;
    }


    &--menu{
        margin: 5rem 0 1rem 5rem;
    }
    &__restart {
        width: 200px;
    }
    &__score-board {
        display: flex;
        
      
        justify-content: space-evenly;
        font-size: 16px;
        color:  palevioletred;
        border: 5px solid palevioletred;
        width: 190px;
        border-radius: 4px;


        &--text{

         
            font-family: 'Phosphate';
        }

        &--value{
font-weight: bold;
        }
    }
}

.mole {
    outline: none;
}

input:focus {
    outline: none;
}
