.GamesPage {
    display: flex;
    width: 100%;
    height: inherit;

    min-height: 850px;

    background-position: center;

    &__sidebar {
        width: 23vw;
        min-height: 600px;
        display: flex;
        flex-direction: column;

        &--logo {
            width: 20vw;
            margin: 2rem;
            animation: text-flicker 15s  infinite;
        }

        &--options {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__icon {
                margin: 1rem;
            }
        }
    }

    &__main {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
       

        &--sign {
            &__one {
                animation: text-flicker 10s  infinite;
            }
            &__two {
                animation: text-flicker 6s linear infinite;
            }
            &__three {
                animation: letter-flicker 4s linear infinite;
            }
        }
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    2% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    8% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    9% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    12% {
        opacity: 0.3;
        text-shadow: 0px 0px rgba(242, 22, 22, 1);
    }
    20% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    25% {
        opacity: 0.5;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    30% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    70% {
        opacity: 0.7;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    72% {
        opacity: 0.3;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }

    77% {
        opacity: 0.9;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    100% {
        opacity: 0.9;
        text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
}


@keyframes letter-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    2% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    4% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    
    
    19% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    21% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    23% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    
    80% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    83% {
      opacity:0.4;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    87% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
  }