.News {
    position: relative;
    min-height: 500px;
    &--logo {
        width: 40vw;
        position: relative;


    }
    &--body {
        width: 40vw;
        display: flex;
        width: auto;
        height: 700px;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        cursor: pointer;

        &__text {
            font-weight: 100;
            color: rgb(37, 125, 155);
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
            letter-spacing: 0.15em;
            border-bottom: 1px dotted rgb(37, 125, 155); ;

            &--p{
                width: 40vw;
                display: flex;
                margin:0;
                font-size: 14px ;
                color: rgb(37, 125, 155);
                display: none;
                height: auto;
                flex-wrap: wrap;
            }

    
        }
    }
}


.News--body:hover .News--body__text--p{
    display: block;
    color: rgb(37, 125, 155);
    font-size: 14px ;
}

