.stage {
	background-color: black;
	background-image: url('./dico.gif');
	box-shadow: inset 0 0 0 1000px rgba(19.6, 19.6, 19.6, 0.5);
	background-size: cover;
	background-position: center;
	height: 600px;
	width: 500px;
	text-align: center;
	position: relative;
}
#controls {
	padding-left: 110px;
	background-color: black;

}

.board{
	height: 30px;
	width: 100px;
	background-color: black;
	border: 4px solid #c24cf6;
	font-size: 48px;
	margin-left: 1rem;
	color:white;
	font-size: 16px;

}

.score{
	display: flex;
	flex-direction: column;
text-align: center;
	align-self: center;
	justify-content: center;
	&--text{
		color:white;
		font-size: 16px;
	}
}

.ArrowKeys{
	display: flex;
	margin-top: 1rem;

}