.About {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--logo {
        width: 40vw;
    }
    &--body {
        display: flex;
        width: 50vw;
        height: auto;
        flex-wrap: wrap;

        &__text {
            font-weight: 100;
            color: rgb(37, 125, 155);
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
            letter-spacing: 0.15em;
        }
    }


    &--options{
        &__button {
            cursor: pointer;
            background-color: black;
            color: #ffffff;

            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;
            height: 48px;
            border: 3px solid rgb(39, 77, 158);
            width: 30vw;
            margin-top: 1rem;
            outline: none;
        }

        &__button:active {
            border: 3px solid rgb(245, 196, 38);
            outline: none;
        }
    }
}
